
<footer class="flex flex-col md:flex-row md:space-x-6 md:items-center space-y-6 justify-center bg-Secondary-Turquoise p-3 select-none">
  <div class="mx-auto w-10/12 mt-6 md:mt-0">
    <img
      src="https://bmkkolipsthwmgjsnoaj.supabase.co/storage/v1/object/public/banners/UAT-Logo-min"
      alt="UAT Logo"
      class="mx-auto h-28">
  </div>

  <div class="mx-auto w-10/12 bg-Primary-Blue/50 rounded-md p-5 select-none">
    <ul class="text-white">
      <a routerLink="">
        <li class="hover:border-b-[1px]"><i class="fa-solid fa-link"></i> Politicas de seguridad</li>
      </a>
      <a href="https://www.uat.edu.mx/aviso-privacidad" target="_blank">
        <li class="hover:border-b-[1px]"><i class="fa-solid fa-link"></i> Aviso de privacidad</li>
      </a>
      <a routerLink="">
        <li class="hover:border-b-[1px]"><i class="fa-solid fa-link"></i> La universidad</li>
      </a>
      <a href="https://alumnosuatedu.sharepoint.com/sites/EUAT" target="_blank">
        <li class="hover:border-b-[1px]"><i class="fa-solid fa-link"></i> EUAT</li>
      </a>
      <a routerLink="">
        <li class="hover:border-b-[1px]"><i class="fa-solid fa-link"></i> Objetivos y políticas de calidad</li>
      </a>
      <a routerLink="">
        <li class="hover:border-b-[1px]"><i class="fa-solid fa-link"></i> Inicio de sesión</li>
      </a>
    </ul>
  </div>

  <div class="flex flex-col space-y-6 md:w-10/12">
    <div class="flex flex-row mx-auto w-full justify-center space-x-4">
      <img src="https://miscodigos.uat.edu.mx/assets/Global/Portal-UAT/img/ODS-logo.png" alt="ODS Logo" class="h-14">
      <img src="https://miscodigos.uat.edu.mx/assets/Global/Portal-UAT/img/uat-iso-27001-bco-COLOR.png" alt="DNV Logo" class="h-14">
    </div>

    <p class="text-center font-bold italic text-xl text-white cursor-default">#SomosUAT</p>

    <div class="flex flex-row justify-center w-full md:mt-0 text-3xl text-gray-50 space-x-3">
      <a href="https://www.facebook.com/UATmx/" target="_blank" class="p-2 hover:bg-Primary-Blue/50 hover:text-white rounded-md">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com/uat_mx" target="_blank" class="p-2 hover:bg-Primary-Blue/50 hover:text-white rounded-md">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/uatmx" target="_blank" class="p-2 hover:bg-Primary-Blue/50 hover:text-white rounded-md">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
